<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
{% block content %}
        <form action="/user_administration/register_student/" method="post" enctype="multipart/form-data"
              id="studentRegistrationForm">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        <script>
                $(document).ready(function () {
                    $("#id_branch").change(function () {
                        let branch = $(this).val() || '!';
                        $.ajax({
                            url: `/user_administration/load_classes/${branch}/`,
                            success: function (data) {
                                $("#id_class_room").html(data);
                            }
                        });
                    });
                })

        </script>
    </body>
{% endblock content %}
</html>
